.plans{
    margin: 1rem;
    text-align: center;
    font-size: 2rem;
    margin-left: 4rem;
    margin-top: 3rem;
    font-weight: bold;
}
.cont{
    margin: 1rem;

}
.parent{
    margin-left: 2rem;
    margin-top: 2rem;
}